*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
}

/* Header */
header{
    height: 120px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.header--content-container{
    min-width: 320px;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-logo p{
    display: inline-block;
    font-size: 4rem;
    font-weight: bold;
}
.header-hamburger_menu{
    height: 30px;
}

/*Main*/


/*first section*/
.first-section--container{
    background-color: #2E33BD;
    text-align:left;
}
.main--first-section--text-and-button{
    width: 90%;
    margin: 0 auto;
    padding: 30px 0px 30px 0px;
    display: flex;
    flex-direction: column;
}

.tittle, .explication{
    color: white;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);

}
.tittle{
    font-size: 3.7rem;
    font-weight: bold;
    line-height: 5rem;
}
.explication{
    margin-top: 40px;
    font-size: 2rem;
    line-height: 3rem;
}


/*second section container*/
.second-section--img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('../assets/images/scene_2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}



/*third-section*/

.third-section--container{
    width: 100vw;
    background-color: #121797;
    padding: 30px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.third-section--container h2{
    display: inline-block;
    font-size: 3rem;
    margin-bottom: 35px;
    color: white;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);

}
.third-section--cards-container{
    display: flex;
    height: 420px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    padding-right: 20px;
}

.card-container--card{
    display: flex;
    scroll-snap-align: center;
    flex-direction: column;
    background-color: white;

    /*tamaño*/
    min-width: 300px;
    min-height: 380px;

    /*espaciado*/
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow:  0 3px 6px rgba(0, 0, 0, 0.65);
    padding: 0 10px;
}


/*cards images*/
.cards--image{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.card--image-1{
    background-image: url('../assets/images/1.svg');
}
.card--image-2{
    background-image: url('../assets/images/2.svg');
}
.card--image-3{
    background-image: url('../assets/images/3.svg');
}
.card--image-4{
    background-image: url('../assets/images/4.svg');
}

.card-container--card p{
    font-size: 2.5rem;
    line-height: 33px;
    display: inline-block;
    width: 100%; 
    margin-bottom: 20px;
    
}


/*fourth section*/

.fourth-section--container{
    background-color: #2E33BD;
    padding: 30px 0;  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourth-section--content-container{
    width: 90%;
}

.fourth-section--container h3{
    font-size: 4rem;
    line-height: 6rem;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);

}
.fourth-section--container p{
    font-size: 2rem;
    line-height: 3rem;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;

}
.fourt-section--email{
    width: 90%;
    border: none;
    padding: 15px;
    font-size: 2rem;
    margin-bottom: 30px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 1);

}


.send-button{
    width: 90%;
    background-color: #010117;
    padding: 15px;
    border: none;
    text-align: center;
}

.send-button p{
    color: white;
    display: inline-block;
    margin: 0;
    
}


/* Footer */
footer{
    background-color: #010117;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

footer h2, 
.footer-empresa h3,
.footer-contacto h3, 
.footer-empresa ul li, 
.footer-contacto ul li{
    color: white;
} 

.footer-title{
    display: inline-block;
}

.footer-empresa h3,.footer-contacto h3{
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 20px;
}

.footer-title{
    font-size: 4rem;
}
.footer-empresa h3, .footer-contacto h3{
    font-size: 3rem;
}

.footer-empresa ul li,.footer-contacto ul li{
    font-size: 2rem;
}

.footer-empresa ul li, 
.footer-contacto ul li{
    margin-top: 20px;
}
.footer-empresa ul li:first-child,
.footer-contacto ul li:first-child
{
    margin-top: 0px;
}